<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans default-init-method="myInit" default-destroy-method="myDestroy">

 <bean id="parenttriangle" class="org.test.spring.Triangle" abstract="true">
	<property name="pointA" ref="pointA"></property>
</bean>

<!--  <bean id="triangle1" class="org.test.spring.Triangle" parent="parenttriangle"> 	
    <property name="pointB" ref="pointB"></property>
    <property name="pointC" ref="pointC"></property>
 </bean> -->
 
  <bean id="circle" class="org.test.spring.Circle"> 	
    <!-- <property name="center" ref="pointA"></property> -->
 </bean>

 <bean id="pointA" class ="org.test.spring.Point">
 	<qualifier value="circleRelated"/>
 	<property name="x" value="${pointA.pointX}"></property>
 	<property name="y" value="${pointA.pointX}"></property>
 </bean>
  <bean id="pointB" class ="org.test.spring.Point">
 	<property name="x" value="0"></property>
 	<property name="y" value="20"></property>
 </bean>
 <bean id="pointC" class ="org.test.spring.Point">
 	<property name="x" value="0"></property>
 	<property name="y" value="20"></property>
 </bean>
 

 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 	<property name="locations" value="classpath:placeholder.properties"></property>
 </bean>
 <!--   <bean class="org.test.spring.MyBeanFactoryPP"></bean>
 	<bean class="org.test.spring.DisplayBeanPostProcessor"></bean>  -->
 	
 	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> -->
 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
</beans> 