<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
		>
		
		<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
		
		<bean name="triangle" class="org.aspect.test.model.Triangle">
			<property name="name" value="Triangle name"></property>
		</bean>
		<bean name="circle" class="org.aspect.test.model.Circle">
			<property name="name" value="Circle name"></property>
		</bean>
		<bean name="shapeService" class="org.aspect.test.service.ShapeService" autowire="byName">
		</bean>
		
		<bean name="loggingAspect" class="org.aspect.test.LoggingAspect"></bean>

	
</beans>